@model IEnumerable<Nimap_Project.Models.Category>

<h2>Category List</h2>
<a href="@Url.Action("Create", "Category")" class="btn btn-primary">Add New Category</a>

<table class="table">
    <thead>
        <tr>
            <th>CategoryId</th>
            <th>CategoryName</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.CategoryId</td>
                <td>@category.CategoryName</td>
                <td>

                    <a href="@Url.Action("Edit", "Category", new { id = category.CategoryId })" class="btn btn-warning">Edit</a>


                    <a href="@Url.Action("Delete", "Category", new { id = category.CategoryId })" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<a href="@Url.Action("Index", "Product")" class="btn btn-info">Product Page</a>